p { 
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 22px;
    margin-bottom: 5px;
}
.video-stats{
    font-family: roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-bottom: 20px;
}
.video-creator{
    font-family: roboto;
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 18px;
}
.vid-desc{
    font-family: roboto;
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 100px;
}
.shop-now{
    font-size: 14px;
    margin-bottom: 50px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.span-ex{
    cursor: pointer;
}
.span-ex:hover{
    text-decoration: underline;
}